{% extends 'base.html' %}

{% block title %}
   {{ super() }} - {{ title }}
{% endblock %}

{% block content %}
<div class="content_login">
        <div class="login_content_title">
          <h3 class="title login_title">Registration</h3>
          <p class="text login_text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore beatae, minima recusandae id praesentium facilis quaerat alias sapiente cupiditate necessitatibus!</p>
        </div>
        <div class="login_form">
            <form method="POST" action="{{ url_for('register') }}" class="email login_form_text">
                {{ form.csrf_token }}
                {% for field in form if field.name != 'csrf_token' %}
                <p class="text form_text">
                    {{  field.label }}
                </p>
                <p class="input_email form">
                    {{ field }}
                </p>
                    {% if field.errors %}
                    <ul class="text header_title_little_pink alert">
                        {% for error in field.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </p>
                {% endfor %}
                <p>
                    <input class="button subscribe_button login_button" type="submit" value="Register">
                </p>
            </form>
        </div>
    </div>
{% endblock %}
